<nav>
    <section class="navButtsHome">
        <a href="/">
            <span id="homeNav" aria-labelledby='homeNav'> Home </span>
        </a>
    </section>

    <section class="navButts">
        <section class="navSignLog">
            <div class="logSign">
                <a href="/account">
                    <span id="gamesNav" aria-labelledby='gamesNav'> Account </span>
                </a>
            </div>
            
            <div class="logSign">
                <a href="/log-out">
                    <span id="genresNav" aria-labelledby='genresNav'> log out </span>
                </a>
            </div>
        </section>
       
        
    </section>
   
</nav>