<nav>
    <section class="navButts">
        <a href="/">
            <span id="homeNav" aria-labelledby='homeNav'> Home </span>
        </a>
    </section>
    <section class="navButts">
        <a href="/log-in">
            <span id="gamesNav" aria-labelledby='gamesNav'> login </span>
        </a>

        <a href="/sign-up">
            <span id="genresNav" aria-labelledby='genresNav'> sign up </span>
        </a>
    </section>
   
</nav>