<nav>
    <section class="navButts">
        <a href="/">
            <span id="homeNav" aria-labelledby='homeNav'> Home </span>
        </a>
    </section>
    <section class="navButts">
        <a href="/account">
            <span id="gamesNav" aria-labelledby='gamesNav'> Account </span>
        </a>

        <a href="/log-out">
            <span id="genresNav" aria-labelledby='genresNav'> log out </span>
        </a>
    </section>
   
</nav>